In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [8]:
X_train

    age  gender  fever   cough       city
94   79    Male    NaN  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata
16   69  Female  103.0    Mild    Kolkata
14   51    Male  104.0    Mild  Bangalore
90   59  Female   99.0  Strong      Delhi
..  ...     ...    ...     ...        ...
0    60    Male  103.0    Mild    Kolkata
60   24  Female  102.0  Strong  Bangalore
69   73  Female  103.0    Mild      Delhi
35   82  Female  102.0  Strong  Bangalore
79   48  Female  103.0    Mild    Kolkata

[80 rows x 5 columns]